extends ../layout

block content
  .container
    .panel
      .panel-body
        if messages.info
          .alert.alert-info(role='alert')
            for info in messages.info
              div= info.msg

        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg

        form(method='POST')
          legend Mot de passe oublié
          .form-group
            p Veuillez entrer votre email ci-dessous et nous vous enverrons les consignes pour réinitialiser votre mot de passe.
            label(for='email') Email
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
          button.btn.btn-success(type='submit') Changer de mot de passe
