extends ../layout

block content
  .login-container.container
    .panel
      .panel-body
        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg

        form(method='POST')
          legend Créer un compte
          .form-group
            label(for='pseudo') Pseudo
            input.form-control(type='text', name='pseudo', id='pseudo', placeholder='Pseudo', autofocus=true)
          .form-group
            label(for='email') Email
            input.form-control(type='email', name='email', id='email', placeholder='Email')
          .form-group
            label(for='password') Mot de passe
            input.form-control(type='password', name='password', id='password', placeholder='Mot de passe')
          .form-group
            small.text-muted En signant ici, vous adhérez aux <a href="/">Conditions de service</a>.
          button.btn.btn-success(type='submit') Créer un compte

        .hr-title
          span ou

        .btn-toolbar.text-center
          a.btn.btn-facebook(href='/auth/facebook') Se connecter avec Facebook
          a.btn.btn-twitter(href='/auth/twitter') Se connecter avec Twitter
          a.btn.btn-google(href='/auth/google') Se connecter avec Google

    p.text-center Vous avez déjà un compte?&nbsp;
      a(href='/login')
        strong Connexion
