#CGW.mockgroup(style='padding: 4px;')
  #HEAD(style='display: block;')
    #TL_URL_cntnr(style='width: 217px;')
      a#GTL(target='_blank', href='http://.chatango.com', style='width: 217px; font-size: 120%; word-break: break-all; white-space: normal;')
      a#UTL(target='_blank', href='http://groupname.chatango.com', style='font-size: 80%; word-break: break-all; display: block;') http://groupname.chatango.com
    span#controls
      .icon-button.close-button(title='Click to close', role='button', tabindex='0', style='height: 15px; width: 15px; -webkit-user-select: none; display: inline;')
        .ib-icon
          svg(width='15', height='15', overflow='hidden')
            defs
            g(style='display: block;')
              path(d='M 4 4 L 11 11 M 11 4 L 4 11', stroke='#ffffff', stroke-opacity='1', stroke-width='0.6', fill='none')
      div(style='height: 15px; display: none;')
        svg(width='15', height='15', overflow='hidden')
          defs
          g(style='display: block;')
            ellipse(cx='7.5', cy='7.5', rx='5.5', ry='5.5', stroke='#cc0000', stroke-opacity='1', stroke-width='0.6', fill='#7CFC00', fill-opacity='1')
    span#MSG.ownmsg(style='font-size: 90%;')
      span#MSG_text(style='word-break: break-all; white-space: normal;')
      .goog-inline-block.goog-link-button.link-btn(role='button', style='-webkit-user-select: none; display: none;', aria-hidden='true') more
  #OW.ubdr(style='display: block; height: 264px;')
    #OWBG
    #OMW.message-window(style='position: relative; width: auto; height: 264px; padding-right: 12px; overflow: hidden;')
      #OM(style='position: relative; bottom: 0px; overflow: hidden; width: 100%; height: auto; top: 0px;')
        .no-msg.msg-fg(style='display: none;') There are no messages in this group yet.
        .msg(title='')
          .msg-bg
          .msg-stripes
          .msg-fg
            .user-thumb.thumb-image-_apollo
            p.msg-date Mon July 11, 2:23:34pm
            div
              p
                span(style='color: rgb(255, 0, 0);')
                  span.c_username Apollo:
                span(style='color: rgb(0, 0, 255); font-family: Arial, sans-serif;')
                  | The Box is ideal for live video feeds, breaking news sites, video and community sites.
        .msg(title='')
          .msg-bg
          .msg-stripes
          .msg-fg
            .user-thumb.thumb-image-_artemis
            p.msg-date
            div
              p
                span
                  span.c_username Artemis:
                | The group is highly scalable, highly customizable, works on iOS and Android.
        .msg(title='')
          .msg-bg
          .msg-stripes
          .msg-fg
            .user-thumb.thumb-image-_athena
            p.msg-date
            div
              p
                span(style='color: rgb(0, 51, 204);')
                  span.c_username Athena:
                span(style='color: rgb(204, 68, 0); font-family: Arial, sans-serif;')
                  | Click on 'More color controls' on the right to make the group precisely match your site.
        .msg(title='')
          .msg-bg
          .msg-stripes
          .msg-fg
            .user-thumb.thumb-image-_poseidon
            p.msg-date
            div
              p
                span
                  span.c_username Poseidon:
                | You can turn off user images and message sounds.
      div(style='position: absolute; top: 0px; bottom: 0px; right: 0px; width: 12px; background-color: rgba(0, 0, 0, 0.0470588);')
      div(style='position: absolute; top: 0px; right: 0px; width: 10px; height: 10px; border: 1px solid rgba(0, 0, 0, 0); background-color: rgba(0, 0, 0, 0);')
        .icon.icon-scroll-arrow(style='top: auto;')
          svg(width='100%', height='100%', overflow='hidden', viewbox='0 0 100 100', style='vertical-align: top;')
            defs
            path(d='M 50 25 L 85 65 L 15 65 Z', fill='#bbbbbb', fill-opacity='1')
      div(style='position: absolute; bottom: 0px; right: 0px; width: 10px; height: 10px; border: 1px solid rgba(0, 0, 0, 0); background-color: rgba(0, 0, 0, 0);')
        .icon.icon-scroll-arrow(style='top: auto;')
          svg(width='100%', height='100%', overflow='hidden', viewbox='0 0 100 100', style='vertical-align: top;')
            defs
            path(d='M 50 75 L 85 35 L 15 35 Z', fill='#bbbbbb', fill-opacity='1')
      div(style='position: absolute; top: 12px; right: 0px; width: 10px; border: 1px solid rgb(187, 187, 187); height: 238px; background-color: rgb(187, 187, 187);')
  #IW(style='height: 29px;')
    #SBC(style='display: none;')
    #IWPBW(style='padding-left: 42px; width: 159px;')
    .icon.icon-horiz-arrow-align.ipt-icon(style='top: auto; width: 19px; height: 29.109px; margin-top: 1px; display: none; left: -9.5px;')
      svg(width='100%', height='100%', overflow='hidden', viewbox='0 0 100 100')
        defs
        path(d='M 50 30 L 50 70 L 70 50 Z', fill='#ffffff')
    #media-upload-wrap.media-upload-wrap(style='opacity: 0.5; left: 0px;')
      .icon.icon-toggle(style='top: auto; width: 16.5px; height: 29.109px; margin-top: 1px;')
        svg(width='100%', height='100%', overflow='hidden', viewbox='0 0 100 100')
          defs
          g(style='display: block;', fill-rule='evenodd')
            path(fill='#ffffff', d='M0,15 L 35 15 45 5 65 5 75 15 100 15 100 90 0 90  Z M55,80 a27,27 0 1 1 0.00001 0 Z', stroke='#ffffff')
            path(fill='#ffffff', d='M55,67 a14,14 0 1 1 0.00001 0 Z', stroke='#ffffff')
      input(type='file', accept='image/*;capture=camera', style='display: none;')
    .icon.ipt-icon(style='top: auto; width: 16.5px; height: 29.109px; margin-top: 1px; left: 21.5px;')
      svg(width='100%', height='100%', overflow='hidden', viewbox='0 0 100 100', preserveaspectratio='xMinYMid')
        defs
        text(x='15', y='90', font-size='100', fill='#ffffff') #
    #IWER2(style='left: 42px;')
      #IWPBWV(style='width: 12px; display: none; height: 29.109px; margin-top: 1px;')
      #IWW(style='display: inline-block;')
        .msg.ubdr(style='border: 1px solid rgb(204, 0, 0); box-sizing: border-box; display: inline-block;')
          .msg-bg
          .msg-fg(style='padding: 0em;')
            #input-field.input-field.editable(type='text', contenteditable='false', data-ph='Type here', g_editable='true', role='textbox', style='display: inline-block; border: none; height: 2.5em; padding: 0.3em 0.3em 0.3em 0.6em; width: 158px;')
          .msg-stripes(style='background: none;')
        #IPT_CLOSED(style='display: none; cursor: pointer; color: rgb(255, 255, 255);')
    .icon.ipt-icon(style='top: auto; width: 16.5px; height: 29.109px; margin-top: 1px; right: 20.5px;')
      svg(width='100%', height='100%', overflow='hidden', viewbox='0 0 100 100')
        defs
        circle(cx='50', cy='50', r='45', style='fill:none;', stroke='#ffffff', stroke-width='7%')
        g
          ellipse(cx='35', cy='43', rx='7.75', ry='16.5', style='fill:#ffffff;')
          ellipse(cx='65', cy='43', rx='7.75', ry='16.5', style='fill:#ffffff;')
          path(d='M 50 77.44 C 61.4 77.44 72.4 72.8 80.4 64.8 M 50 77.44 C 38.5 77.44 27.5 72.9 19.50 64.81', stroke='#ffffff', stroke-width='7%', fill='none')
    .icon.icon-toggle.ipt-icon(style='top: auto; border: 1px solid rgba(255, 255, 255, 0); height: 29.109px; width: 16.5px; margin-top: 1px; right: 0px;')
      svg(width='100%', height='100%', overflow='hidden', viewbox='0 0 100 100', preserveaspectratio='xMinYMid')
        defs
        text(x='15', y='80', font-size='100', font-style='italic', text-decoration='underline', fill='#ffffff') A
    .icon.icon-horiz-arrow-align.ipt-icon(style='top: auto; width: 19px; height: 29.109px; margin-top: 1px; display: none; right: -9.5px;')
      svg(width='100%', height='100%', overflow='hidden', viewbox='0 0 100 100')
        defs
        path(d='M 50 30 L 50 70 L 30 50 Z', fill='#ffffff')
  #FTR(style='display: block;')
    #FTR_LEFT(style='margin-top: 9px;')
      #FTR_LOGO.icon.ftr_el.icon-v-ctr
        .goog-inline-block.goog-link-button.txt-v-ctr.logo-btn(role='button', tabindex='0', style='-webkit-user-select: none; color: rgb(255, 255, 255);') Chatango
      .ftr-mcv.ftr_el.icon-v-ctr(style='display: none;')
      .icon.icon-v-ctr.ftr_el(style='display: none;')
        svg(width='100%', height='100%', overflow='hidden', viewbox='0 0 100 100')
          defs
          g(style='display: block;')
            circle(cx='70', cy='20', r='12', fill='#ffffff')
            animate(attributename='cx', from='30', to='70', dur='400ms', begin='500ms', fill='freeze')
            animate(attributename='cy', from='50', to='20', dur='400ms', begin='500ms', fill='freeze')
            circle(cx='70', cy='80', r='12', fill='#ffffff')
            animate(attributename='cx', from='30', to='70', dur='400ms', begin='500ms', fill='freeze')
            animate(attributename='cy', from='50', to='80', dur='400ms', begin='500ms', fill='freeze')
            circle(cx='30', cy='50', r='12', fill='#ffffff')
            path(d='M 30 50 L 70 20', stroke='#ffffff', stroke-width='7')
            animate(dur='400ms', begin='500ms', attributename='d', values='M 30 50 L 30 50; M 30 50 L 70 20;', fill='freeze')
            path(d='M 30 50 L 70 80', stroke='#ffffff', stroke-width='7')
            animate(dur='400ms', begin='500ms', attributename='d', values='M 30 50 L 30 50; M 30 50 L 70 80;', fill='freeze')
      .icon.ftr_el.icon-v-ctr(style='width: auto; display: none;')
        .goog-inline-block.goog-link-button.txt-v-ctr.logo-btn(role='button', tabindex='0', style='-webkit-user-select: none; color: rgb(255, 255, 255);')
    #FTR_RIGHT(style='margin-top: 9px;')
      #VOL_cntrl.icon-v-ctr(style='position: relative; display: inline-block; float: none;')
        .icon(style='top: auto;')
          svg(width='100%', height='100%', viewbox='0 0 100 100')
            defs
            g(style='display: block;')
              path(d='M 0 30 L 20 30 50 0 50 100 20 70 0 70 Z', stroke='none', fill='#ffffff', fill-opacity='1', shape-rendering='crispEdges')
              path(d='M 65 25.3 C 77.6 37.9 77.6 57.7 65 70.3', stroke='#ffffff', stroke-width='7', fill='none', shape-rendering='geometricPrecision')
              path(d='M 78 12.5 C 99 33.5 99 66.5 78 87.5', stroke='#ffffff', stroke-width='7', fill='none', shape-rendering='geometricPrecision')
      #FTR_phn.icon-v-ctr(style='width: auto; display: inline-block;', title='People here now')
        span.txt-v-ctr(style='color: rgb(255, 255, 255); font-style: normal;') 116
      .icon.icon-v-ctr.icon-star(style='display: none;')
        svg(width='100%', height='100%', overflow='hidden', viewbox='0 0 107 100')
          defs
          g(style='display: block;')
            path(fill='#ffffff', stroke='none', d='M 54 2 L 67 39 107 39 76 63 87 100 54 78 22 100 33 63 2 39 41 39 Z')
      .icon.icon-v-ctr(title='Moderation', style='display: none;')
        svg(width='100%', height='100%', overflow='hidden', viewbox='0 0 100 100')
          defs
          g(style='display: block;')
            path(d='M 55.55 42.25 L 99.95 86.7 86.65 100 42.2 55.6 31.15 66.7 35.55 71.1 31.1 75.55 0 44.45 4.45 40 8.9 44.45 44.45 8.95 39.95 4.45 44.4 0 75.5 31.1 71.05 35.55 66.65 31.15', stroke='none', fill='#ffffff', fill-opacity='1')
      .icon.icon-v-ctr(style='display: none;')
        svg(width='100%', height='100%', overflow='hidden', viewbox='0 0 100 100', shape-rendering='crispEdges')
          defs
          g(style='display: block;')
            rect(x='0', y='1', width='100', height='16', style='stroke:none; fill:#ffffff; fill-opacity:1;')
            rect(x='0', y='42', width='100', height='16', style='stroke:none; fill:#ffffff; fill-opacity:1;')
            rect(x='0', y='81', width='100', height='16', style='stroke:none; fill:#ffffff; fill-opacity:1;')
      #LOGIN.ftr_el.icon-v-ctr(style='display: inline-block;')
        .goog-inline-block.goog-link-button.txt-v-ctr(role='button', tabindex='0', title='Log in or sign up', style='-webkit-user-select: none; color: rgb(255, 255, 255);') Set name
