extends layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg
  .container
    section#home(name='home')
    #headerwrap
      .container
        br
        .row.text-center
          br
          h3 Bonjour je m'appelle Guillaume, je suis développeur Javascript Fullstack et j'ai conçu ce site pour mon projet de fin d'année.
          br
          br
          .col-lg-6.col-lg-offset-3

    section#about(name='about')
    #f
      .container
        .row
          h3 A propos de moi
          p.centered
            i.icon.icon-circle
            i.icon.icon-circle
            i.icon.icon-circle
          // INTRO INFORMATIO
          .col-lg-6.col-lg-offset-3
            p J'ai suivi une formation dans le but de me spécialiser dans les technologies utilisant le Javascript.

            p Lors de cette formation j'ai pu aborder aussi bien la partie frontend d'une application que la partie backend.
            p
              | Notre premier atelier a été de concevoir un jeu frontend uniquement en javascript procédural CV jeu

            p Je suis à l'écoute du marché du travail. Contactez moi via la page

              a(href='/contact')  Contact


