extends layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

    if user
      .row
        form#rechercheUtilisateur(action="", method="post")
          .col-md-6
            span Rechercher un utilisateur:
          .col-md-6
            input(type="text", class="search", name="search")
  .container-fluid
    .row
      .col-md-12
        ul
          li#messages
  .container-fluid
    ul
      each membre in membres
        li
          a(href="/account/" + membre.pseudo)
            img(src='/uploads/' + membre.photo, width="50", height="50")
            p(style="display:inline")=membre.pseudo
            #connecte
            #deconnecte
