extends layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg
  .panel.panel-defaultl
    .panel-heading
      .col-md-12.text-right
        if user
          form#rechercheUtilisateur(action="", method="post")
            span Rechercher un utilisateur:
            input(type="text", class="search", name="search")
    .panel-body
      each membre in membres
        .col-md-12.text-center
          a(href="/account/" + membre.pseudo)
            h1=membre.pseudo
            img.img-circle(src='/uploads/' + membre.photo, width="200", height="150")
        .col-md-12.text-center
          a.btn.btn-large.btn-success(data-toggle='confirmation', data-original-title='', title='Bêêêê', href='/account/' + membre.pseudo) Ajouter un ami
